body,html,h1,h2,h3,p,div,ul,li{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style-type: none;
	text-decoration: none;
}
a{
	text-decoration: none;
}
.header{
	background-image: url("logo.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 128px;
}
.header .login{
	width: 1026px;
	margin: 0 auto;
}
.header input{
	color:  #444;
	float: right;
	border: 0px;
	background-color: #fff;
	margin-right:12px;
	margin-top: 16px; 
}
.mune{
	width: 100%;
	height: 46px;
	background-color: #bcd800;
}
.mune .massage{
	width: 1026px;
	margin: 0 auto;
}
.mune .massage .list ul li a{
	float: left;
	line-height: 45px;
	font-size: 18px;
	color: #fff;
	margin-left: 45px;
}
.mune .massage ul li :hover{
	background-color: #88c81d;
}
.mune .massage .search{
	width: 250px;
	height: 36px;
	float: left;
	margin-left: 45px;
	padding: 5px;
} 
.mune .massage .search input{
	width: 250px;
	height: 32px;
	background-image: url('search.png');
	background-repeat: no-repeat;
	background-position: 98% 50%;
}
.content{
	width: 1026px;
	margin: 0 auto;
}

.content .left_menu{
	width: 180px;
	height: 452px;
	border: 2px solid  #abdc00;
	border-top: 0px;
	float: left;
}
.content .left_menu ul li{
	height: 50px;
	border-bottom: 1px solid #f0f0f0;
	text-align: center;
	line-height: 50px;
	font-size: 14px; 
}
.content .left_menu ul li a{
	display:block;
	border: 1px solid white;
	color: #444;
	overflow: hidden;
}
.content .left_menu  ul li :hover{
	background-color:#88c81d;
}

.content .left_menu  ul li .nav2_1{
	display:none;
	width: 82px;
	border: 0px;
	background-color: #fff;
}
.content .left_menu  ul li .nav2_2{
	display:none;
	width: 82px;	
	border: 0px;
	background-color: #fff;
}
.content .left_menu  ul li:hover .nav2_1 {
	display:block;
	width: 83px;
	position:absolute;
	top:174px;left:345px;
	border: 0px;
	z-index: 99;
}
.content .left_menu  ul li:hover .nav2_2 {
	display:block;
	width: 83px;
	position:absolute;
	top:174px;left:428px;
	border: 0px;
	z-index: 99;
}
.content .right .top_picture{
	background-color: red;
	background-image: url('turn.png');
	width: 820px;
	height: 210px;
	margin: 20px 0 0 20px;
	float: left;
}
.content .right .top_picture button{
	width: 35px;height:33px;
	background-color: #51aad7 ;
}
.content .right .top_picture #button_left{
	position: relative;
	top: 82px;
	z-index: 1;
}
.content .right .top_picture #button_right{
	position: relative;
	top: 81px;left: 747px;
}
.content .right .store .photo img{
    width: 130px;
    height: 212px;
    float: left;
    margin: 10px 2px 0 11px;
}
.content .right .store .store_picture1{
	width: 228px;
	height: 170px;
	background-image: url('one.png');
	background-color: blue;
    margin: 50px 4px 0 0;
	float: left;
}
.content .right .store .store_picture2{
	width: 228px;
	height: 170px;
	background-image: url('two.png');
	background-color: blue;
    margin: 50px 4px 0 0;
	float: left;
}
.content .right .store .store_picture3{
	width: 228px;
	height: 170px;
	background-image: url('three.png');
	background-color: blue;
    margin: 50px 4px 0 0;
	float: left;
}
.big0{
	background-image: url('turn.png');
}